@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Details</h1>
<h3>Engineer Name: @engineer.EngineerName</h3>

@if(@Model.Machines.Count == 0)
{
    <p>This engineer has not been assigned to a machine</p>
}
else
{
    <h3>Assigned Machine(s)</h3>
    <ul>
        @foreach (var join in Model.Machines)
        {
            <li>@join.Machine.MachineName</li>
        }
    </ul>
}
<p>@Html.ActionLink("Back to Engineer Roster", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>