@{
    Layout = "_Splash";
}

<h1>Dr. Sillystringz's Factory</h1>
<hr>
<h2>Manage Your Engineers and Machines</h2>
<hr>
<p>@Html.ActionLink("View engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("View machines", "Index", "Machines")</p>